// BUG TRIANGLE PINK
.big-triangle-pink {
  animation: big-pink1 0.5s 1s 1 forwards, big-pink2 1s 3s 1 forwards,
    big-pink3 1s 4s 1 forwards;
}

@keyframes big-pink1 {
  100% {
    transform: translateY(78%) translateX(-14%) rotate(-45deg);
  }
}

@keyframes big-pink2 {
  100% {
    transform: translate(-30%, 45%) rotate(180deg);
  }
}

@keyframes big-pink3 {
  100% {
    grid-row: 1/4;
    grid-column: 1/3;
    transform: rotate(-180deg);
    position: fixed;
  }
}

// BIG TRIANGLE BLUE
.big-triangle-blue {
  animation: big-blue1 0.5s 1s 1 forwards, big-blue2 1s 3s 1 forwards,
    big-blue3 1s 4s 1 forwards;
}

@keyframes big-blue1 {
  100% {
    transform: translate(50%, 150%);
  }
}

@keyframes big-blue2 {
  100% {
    transform: translate(17.5%, 246%) rotate(-45deg);
  }
}

@keyframes big-blue3 {
  100% {
    transform: translate(0, 0);
    grid-row: 1;
    grid-column: 1;
    position: fixed;
  }
}

// MEDIUM TIRANGLE
.medium-triangle {
  animation: medium1 0.5s 1s 1 forwards, medium2 1s 3s 1 forwards,
    medium3 1s 4s 1 forwards;
}

@keyframes medium1 {
  100% {
    transform: translate(50%, 70%) rotate(45deg);
  }
}

@keyframes medium2 {
  100% {
    transform: translate(20%, 10%) rotate(45deg);
  }
}

@keyframes medium3 {
  100% {
    visibility: hidden;
  }
}

@media only screen and (min-width: 920px) {
  @keyframes medium3 {
    50% {
      opacity: 0.2;
    }

    100% {
      transform: translateX(50px);
      visibility: visible;
      opacity: 0.2;
      align-self: start;
      justify-self: start;
      grid-row: 3;
      grid-column: 6;
    }
  }
}

// SMALL TRIANGLE YELLOW
.small-triangle-yellow {
  animation: small-yellow1 0.5s 1s 1 forwards, small-yellow2 1s 3s 1 forwards,
    small-yellow3 1s 4s 1 forwards;
}

@keyframes small-yellow1 {
  100% {
    transform: translate(-67%, -413%) rotate(45deg);
  }
}

@keyframes small-yellow2 {
  100% {
    transform: translate(-105%, -370%) rotate(90deg);
  }
}

@keyframes small-yellow3 {
  100% {
    visibility: hidden;
  }
}

@media only screen and (min-width: 920px) {
  @keyframes small-yellow3 {
    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 0.2;
      transform: translate(0, -300px);
      visibility: visible;
      grid-row: 4;
      grid-column: 6;
      justify-self: center;
      align-self: center;
    }
  }
}

// SMALL TRIANGLE GREEN
.small-triangle-green {
  animation: small-green1 0.5s 1s 1 forwards, small-green2 1s 3s 1 forwards,
    small-green3 1s 4s 1 forwards;
}

@keyframes small-green1 {
  100% {
    transform: translateY(50%);
  }
}

@keyframes small-green2 {
  100% {
    transform: translate(40%, -110%) rotate(180deg);
  }
}

@keyframes small-green3 {
  100% {
    grid-column: 1/3;
    grid-row: 3/4;
    transform: translate(35px, -37px) rotate(90deg);
  }
}

// SQUARE
.square {
  animation: square1 0.5s 1s 1 forwards, square2 1s 3s 1 forwards,
    square3 1s 4s 1 forwards;
}

@keyframes square1 {
  100% {
    transform: translateY(-50%);
  }
}

@keyframes square2 {
  100% {
    transform: translate(-30%, -110%);
  }
}

@keyframes square3 {
  100% {
    visibility: hidden;
  }
}

@media only screen and (min-width: 920px) {
  @keyframes square3 {
    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 0.2;
      visibility: visible;
      grid-row: 3;
      grid-column: 6;
      transform: translate(150px, -50px);
      align-self: end;
      justify-self: start;
    }
  }
}

//  POLYGON
.polygon {
  animation: polygon1 0.5s 1s 1 forwards, polygon2 1s 3s 1 forwards,
    polygon3 1s 4s 1 forwards;
}

@keyframes polygon1 {
  100% {
    transform: translate(200%, -33%);
  }
}

@keyframes polygon2 {
  100% {
    transform: translate(431%, 148.5%) rotate(225deg) scaleX(-1);
  }
}

@keyframes polygon3 {
  100% {
    visibility: hidden;
  }
}

@media only screen and (min-width: 920px) {
  @keyframes polygon3 {
    50% {
      opacity: 0.2;
    }

    100% {
      // transform: translate(-100px, 50px);
      visibility: visible;
      grid-row: 1/2;
      grid-column: 5/6;
      justify-self: flex-end;
      opacity: 0.2;
      // position: fixed;
    }
  }
}

//GRID
@keyframes main-div {
  100% {
    grid-template-columns: 75px 75px 75px 1fr 0.3fr;
    grid-template-rows: 75px 75px 75px 75px 2fr;
  }
}

@media only screen and (min-width: 767px) {
  @keyframes main-div {
    100% {
      grid-template-columns: 75px 75px 75px 75px 75px 1fr 0.1fr;
      grid-template-rows: 75px 75px 2fr 1fr;
    }
  }
}

//CONTENT
@keyframes content {
  100% {
    opacity: 1;
  }
}
