.arrow-down {
  width: 20rem;
  grid-row: 4;
  grid-column: 5/7;
  justify-self: center;
  text-align: center;
  font-size: 8rem;
  color: #4e5283d3;
  opacity: 0;
  animation: content 1s 4.5s 1 forwards;
  transition: color 0.3s;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    color: #db7f67;
    transform: translateY(40px);
  }
}

@media only screen and (max-width: 900px) {
  .arrow-down {
    visibility: hidden;
  }
}
