// HOVER EFFECT ON SITE IMAGES
.site-img {
  transition: 1s;
}

.site-img:hover {
  transform: scaleX(85%) skewY(5deg);
}

.site-img:nth-child(even):hover {
  transform: scaleX(85%) skewY(-5deg);
}

// PAPER PLANE HOVER EFFECT ON EMAIL
.mail a {
  position: relative;
}

.mail a:before {
  position: absolute;
  right: 105%;
  content: "";
  background-image: url(/img/send.png);
  background-size: cover;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  transition: 0.3s;
}

.mail a:hover::before {
  right: 101%;
  opacity: 1;
}

// HOVER EFFECT ON CONTACTS ICONS
.contact-links img {
  transition: 0.3s;
}
.contact-links img:hover {
  transform: scale(110%);
}
