@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  font-family: "Arimo", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(10, 75px);
  justify-content: center;
  animation: main-div 1s 4s 1 forwards;
}

.triangle {
  width: 0;
  height: 0;
}

.big-triangle-pink {
  grid-row: 4/span 4;
  grid-column: 5/span 2;
  border-right: 150px solid #db7f67;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
}

.big-triangle-blue {
  position: relative;
  grid-row: 4/span 2;
  grid-column: 3/span 4;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 150px solid #4e5283;
}

.medium-triangle {
  grid-row: 6/span 2;
  grid-column: 3/span 2;
  border-left: 150px solid #fdca40;
  border-top: 150px solid transparent;
}

.small-triangle-yellow {
  grid-row: 7/span 1;
  grid-column: 5/span 1;
  border-bottom: 75px solid #ec9a29;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.small-triangle-green {
  grid-row: 5/span 2;
  grid-column: 4/span 1;
  border-left: 75px solid #4b8f8c;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
}

.square {
  grid-row: 6/span 2;
  grid-column: 4/span 2;
  width: 150px;
  height: 150px;
  background-color: #f06543;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.polygon {
  z-index: -1;
  grid-row: 4/span 2;
  grid-column: 3/span 1;
  height: 224px;
  width: 75px;
  background-color: #434343;
  clip-path: polygon(0 0%, 100% 33%, 100% 100%, 0 70%);
}

.dropbtn {
  height: 75px;
  width: 150px;
  background-color: #4b8f8c;
  color: white;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  opacity: 0;
  animation: content 1s 4.5s 1 forwards;
}

.dropdown {
  z-index: 3;
  position: relative;
  display: inline-block;
  grid-column: 1/3;
  grid-row: 3/4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-content a {
  height: 75px;
  width: 150px;
  background-color: #4b8f8c;
  color: white;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 20px;
  font-size: 1.5rem;
}
.dropdown-content a:hover {
  background-color: white;
  color: #4b8f8c;
}

.big-triangle-pink {
  animation: big-pink1 0.5s 1s 1 forwards, big-pink2 1s 3s 1 forwards, big-pink3 1s 4s 1 forwards;
}

@keyframes big-pink1 {
  100% {
    transform: translateY(78%) translateX(-14%) rotate(-45deg);
  }
}
@keyframes big-pink2 {
  100% {
    transform: translate(-30%, 45%) rotate(180deg);
  }
}
@keyframes big-pink3 {
  100% {
    grid-row: 1/4;
    grid-column: 1/3;
    transform: rotate(-180deg);
  }
}
.big-triangle-blue {
  animation: big-blue1 0.5s 1s 1 forwards, big-blue2 1s 3s 1 forwards, big-blue3 1s 4s 1 forwards;
}

@keyframes big-blue1 {
  100% {
    transform: translate(50%, 150%);
  }
}
@keyframes big-blue2 {
  100% {
    transform: translate(17.5%, 246%) rotate(-45deg);
  }
}
@keyframes big-blue3 {
  100% {
    transform: translate(0, 0);
    grid-row: 1;
    grid-column: 1;
  }
}
.medium-triangle {
  animation: medium1 0.5s 1s 1 forwards, medium2 1s 3s 1 forwards, medium3 1s 4s 1 forwards;
}

@keyframes medium1 {
  100% {
    transform: translate(50%, 70%) rotate(45deg);
  }
}
@keyframes medium2 {
  100% {
    transform: translate(20%, 10%) rotate(45deg);
  }
}
@keyframes medium3 {
  100% {
    visibility: hidden;
  }
}
@media only screen and (min-width: 920px) {
  @keyframes medium3 {
    50% {
      opacity: 0.2;
    }
    100% {
      transform: translateX(50px);
      visibility: visible;
      opacity: 0.2;
      align-self: start;
      justify-self: start;
      grid-row: 3;
      grid-column: 6;
    }
  }
}
.small-triangle-yellow {
  animation: small-yellow1 0.5s 1s 1 forwards, small-yellow2 1s 3s 1 forwards, small-yellow3 1s 4s 1 forwards;
}

@keyframes small-yellow1 {
  100% {
    transform: translate(-67%, -413%) rotate(45deg);
  }
}
@keyframes small-yellow2 {
  100% {
    transform: translate(-105%, -370%) rotate(90deg);
  }
}
@keyframes small-yellow3 {
  100% {
    visibility: hidden;
  }
}
@media only screen and (min-width: 920px) {
  @keyframes small-yellow3 {
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.2;
      transform: translate(0, -300px);
      visibility: visible;
      grid-row: 4;
      grid-column: 6;
      justify-self: center;
      align-self: center;
    }
  }
}
.small-triangle-green {
  animation: small-green1 0.5s 1s 1 forwards, small-green2 1s 3s 1 forwards, small-green3 1s 4s 1 forwards;
}

@keyframes small-green1 {
  100% {
    transform: translateY(50%);
  }
}
@keyframes small-green2 {
  100% {
    transform: translate(40%, -110%) rotate(180deg);
  }
}
@keyframes small-green3 {
  100% {
    grid-column: 1/3;
    grid-row: 3/4;
    transform: translate(35px, -37px) rotate(90deg);
  }
}
.square {
  animation: square1 0.5s 1s 1 forwards, square2 1s 3s 1 forwards, square3 1s 4s 1 forwards;
}

@keyframes square1 {
  100% {
    transform: translateY(-50%);
  }
}
@keyframes square2 {
  100% {
    transform: translate(-30%, -110%);
  }
}
@keyframes square3 {
  100% {
    visibility: hidden;
  }
}
@media only screen and (min-width: 920px) {
  @keyframes square3 {
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.2;
      visibility: visible;
      grid-row: 3;
      grid-column: 6;
      transform: translate(150px, -50px);
      align-self: end;
      justify-self: start;
    }
  }
}
.polygon {
  animation: polygon1 0.5s 1s 1 forwards, polygon2 1s 3s 1 forwards, polygon3 1s 4s 1 forwards;
}

@keyframes polygon1 {
  100% {
    transform: translate(200%, -33%);
  }
}
@keyframes polygon2 {
  100% {
    transform: translate(431%, 148.5%) rotate(225deg) scaleX(-1);
  }
}
@keyframes polygon3 {
  100% {
    visibility: hidden;
  }
}
@media only screen and (min-width: 920px) {
  @keyframes polygon3 {
    50% {
      opacity: 0.2;
    }
    100% {
      transform: translate(-100px, 0);
      visibility: visible;
      grid-row: 3;
      grid-column: 6;
      justify-self: flex-end;
      opacity: 0.2;
    }
  }
}
@keyframes main-div {
  100% {
    grid-template-columns: 75px 75px 75px 1fr;
    grid-template-rows: 75px 75px 75px 75px 2fr 1fr;
  }
}
@media only screen and (min-width: 767px) {
  @keyframes main-div {
    100% {
      grid-template-columns: 75px 75px 75px 75px 75px 1fr 0.1fr;
      grid-template-rows: 75px 75px 2fr 1fr;
    }
  }
}
@keyframes content {
  100% {
    opacity: 1;
  }
}
.h1 {
  position: absolute;
  font-size: 1.3rem;
  bottom: 50px;
  left: -28px;
  color: #f6f0ed;
  transform: rotate(-45deg);
  opacity: 0;
  animation: content 1s 4.5s 1 forwards;
}

.text {
  margin: 0 1rem 0 7rem;
  grid-column: 1/5;
  grid-row: 5/6;
  font-size: 2rem;
  opacity: 0;
  animation: content 1s 4.5s 1 forwards;
}
.text h1 {
  color: #f06543;
  margin-bottom: 15px;
}

@media only screen and (min-width: 767px) {
  .text {
    margin-top: 3rem;
    font-size: 2.5rem;
    grid-row: 3;
    grid-column: 5/7;
  }
}
.arrow-down {
  text-align: center;
  font-weight: 200;
  font-size: 6rem;
  color: #4e5283d3;
  margin: 0 1rem 6rem 6rem;
  grid-column: 1/5;
  grid-row: 6;
  transition: color 0.3s;
  opacity: 0;
  animation: content 1s 4.5s 1 forwards;
}
.arrow-down a {
  text-decoration: none;
  color: inherit;
}
.arrow-down:hover {
  color: #db7f67;
  transform: translateY(40px);
}

@media only screen and (min-width: 767px) {
  .arrow-down {
    grid-row: 4;
    grid-column: 5/7;
  }
}
.img {
  width: 15rem;
  grid-row: 3/4;
  grid-column: 3;
  justify-self: center;
  opacity: 0;
  animation: content 1s 4.5s 1 forwards;
}

@media only screen and (min-width: 767px) {
  .img {
    width: 15rem;
    grid-row: 3;
    grid-column: 5;
  }
}
img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
