.arrow-down {
  text-align: center;
  font-weight: 200;
  font-size: 6rem;
  color: #4e5283d3;
  margin: 0 1rem 6rem 6rem;
  grid-column: 1/5;
  grid-row: 6;
  transition: color 0.3s;
  opacity: 0;
  animation: content 1s 4.5s 1 forwards;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    color: #db7f67;
    transform: translateY(40px);
  }
}

@media only screen and (min-width: 767px) {
  .arrow-down {
    grid-row: 4;
    grid-column: 5/7;
  }
}
