.img {
  width: 15rem;
  grid-row: 3/4;
  grid-column: 3;
  justify-self: center;
  opacity: 0;
  animation: content 1s 4.5s 1 forwards;
}

@media only screen and (min-width: 767px) {
  .img {
    width: 15rem;
    grid-row: 3;
    grid-column: 5;
  }
}

img {
  width: 100%;
}
